body {
    font-size: 16px;
}

.container {
    background-color: #fafafa;
}

.fields {
    display: none;
}
.fields.show {
    display: block;
}

.btn {
    display: none;
}

.btn.show {
    display: inline-block;
}

.actionCell {
    cursor: pointer;
    transition: .3s;
    font-size: 1.1rem;
}

.actionCell.edit > * {
    color: #e0a800;
}

.actionCell.delete > * {
    color: #dc3545;
}

.actionCell:hover {
    opacity: .6;
}